body {
	background-color: #E9E9E9;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

/* Navbar */

#navbar a {
	color: #E9E9E9;
	background-color: transparent;
	transition: .3s;
}

#navbar a:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

/* Jumbotron */

.jumbotron {
	padding-top: 0;
	margin-bottom: 0;
	background-image: url("banner.png");
	background-repeat: no-repeat;
	height: 35em;
	color: #E9E9E9;
	font-size: 120%;
}

.jumbotron .navbar-nav {
	float: right;
}

.jumbotron h1 {
	font-size: 550%;
}

.jumbotron .jumbotron-text.container{
	padding-top: 12.5em;
}

/* About */

.about-container {
	background-color: #293D67;
	color: #E9E9E9;
	padding-bottom: 2em;
	padding-top: 2em;
}

.about-container .profile-picture {
	display: block;
	margin: auto;
}

.about-container .about-text p{
	padding-left: 0em;
}

.about-container .contact-list {
	padding-left: 1em;
}

.about-container ul.contact-list {
	list-style-type: none;
}

.about-container .contact-list a {
	color: #E9E9E9;
}

/* Experience */

.container.experience {
	padding-top: 5em;
}

.container.experience > .row {
	padding-bottom: 5em;
}

.container img {
	width: 100%;
}