<!DOCTYPE html>
<html lang="en">
	<head>	
		<title>Justin Ying</title>
		<link rel="shortcut icon" type="image/png" href="resources/andy.png"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/structure.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="js/index.js"></script>
		<div class="jumbotron splash">
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav">
            		<li onclick="scrollToElement('.about-container')"><a>About</a></li>
            		<li onclick="scrollToElement('.contact-container')"><a>Contact</a></li>
            		<li onclick="scrollToElement('.container.experience')"><a>Experience</a></li>
        		</ul>
        	</div>
			<div class="jumbotron-text container unselectable">
				<h1 align="center">Justin Ying</h1>
				<h3 align="center" class="capitalize">Software Developer</h3>
			</div>
			<div class="jumbotron-scrolldown" onclick="scrollToElement('.about-container')">
				<img src="resources/chevron_down.png">
			</div>
		</div>
		<div class="container-fluid about-container">
			<div class="about-row flex row">
  				<div class="flex col grow">
					<img class="profile-picture" src="resources/myface.jpg">
				</div>
  				<div class=" about-text flex col grow">
					<h1>Hello!</h1>
					<p>
						We know you've missed him, along with his partner in competition, Brother Vance. The chatter we monitor from our listening stations has demanded their return. There are many among you who are hungry to single out the heroes of the new combat meta.

						It's the next logical spoke in the wheel of carnage and mayhem that we're spinning. Destiny Year Two is almost a month old. The Guardians have risen in droves to confront the Taken. Emerging victorious from a new campaign to defend our home from a new threat, you've learned some new talents of war. Your armory has become infused with new implements of destruction. The sandbox has a blacker, more malicious touch. Trigger fingers itch for glory.
					</p>
					<p>Nice to meet you!</p>
				</div>
				<div class="contact-container flex col grow">
					<h1>Contact</h1>
					<ul class="contact-list">
						<li><a href="mailto:just10ying@gmail.com" target="_blank">Email</a></li>
						<li><a href="https://www.linkedin.com/pub/justin-ying/46/1aa/a98">LinkedIn</a></li>
						<li><a href="JustinYing_Resume.pdf">Resume PDF</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-ng-app="experienceApp" data-ng-controller="experienceController" class="container experience">
			<div data-ng-repeat="experience in expList" class="row">
				<div class="col-md-4">
					<img src="{{ experience.imgSrc }}">
				</div>
				<div class="col-md-8">
					<h2>{{ experience.title }}</h2>
					<h4>{{ experience.position }}</h4>
					<p>{{ experience.description }}</p>
					<ul>
						<li data-ng-repeat="bullet in experience.bullets">{{ bullet }}</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>